
.activity {
    display: flex;
    flex-direction: row;
    padding: 0.1em;
    border-bottom: 1px solid #ecf0f1;
}
.activity .date {

}
.activity .description {
    margin-left: 1em;
}

@media 
only screen and (max-width: 768px) {
    .activity {
        flex-direction: column;
    }
    .activity .date {
        text-align: left
    }
    .activity .description {
        margin-left: 0;
        text-align: left;
    }
}